<input type="radio" name="dept" value="all" [(ngModel)]="selectedRadioButtonValue"
 (change)="onRadioButtonSelectionChanged()"/>All

<input type="radio" name="dept" value="it" [(ngModel)]="selectedRadioButtonValue"  
(change)="onRadioButtonSelectionChanged()"/>IT
<input type="radio" name="dept" value="cs" [(ngModel)]="selectedRadioButtonValue"
  (change)="onRadioButtonSelectionChanged()"/>CS
<input type="radio" name="dept" value="bpo" [(ngModel)]="selectedRadioButtonValue" 
 (change)="onRadioButtonSelectionChanged()"/>BPO




